.qrpopup{
    position: absolute;
    width: 500px;
    background: #ffff;
    border-radius: 6px;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 10px 10px;
    color: #333;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    box-shadow:  0 2px 5px rgba(0, 0, 0, 0.2);
    left: 60%;
    top: 800px;
}
.open-popup{
    visibility: visible;
    top:50%;
    transform: translate(-50%, -50%) scale(1);
}
.qrpopup .qrtitle{
    padding: 5px;
    color: #6F38C5;
    font-weight: 500;
    font-size: 20px;
    font-weight: 900;
}
.qrpopup .qrscanner{
    border-radius: 5px;
    width: 450px;
    border-radius: 6px;
}
.popbuttonxxx{
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    background: linear-gradient(135deg, #254E58, #4a90a1);
    color: #ffff;
    border: 0;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow:  0 2px 5px rgba(0, 0, 0, 0.2);
    font-weight: 500;
}
.popbutton{
    height: 60px;
    width: 450px;
    border: 0;
    padding: 12px 10px;
    outline:none;
    color: #ffff;
    background: linear-gradient(to right, #820000, #6F38C5);
    border-radius: 6px;
    cursor: pointer;
    transition: width 0.5s;
    font-weight: 500;
    font-size: 15px;
}
.popbutton img{
    width: 30px;
    display: none;
    background: none;
}
.popbutton:hover img{
    display: block;
}
.popbutton:hover{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}